{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    <br/>
    <div>
        <p>
            <a class="text-primary" href="{{ path('app_produit_index') }}">Produits</a> > Créer un produit
        </p>
    </div>

    {{ include('produit/_form.html.twig') }}

{% endblock %}
