{% extends 'base.html.twig' %}

{% block body %}
    {% if contenu_paniers|length > 0 %}
        
        {{ include ("contenu_panier/list.html.twig", { contenu_paniers: contenu_paniers, display_action: true }) }}

        {# total de la commande #}
        <aside>
            <div class="summary">
                <div class="summary-total-items"><span class="total-items"></span> Produits dans ton panier</div>
                <div class="summary-total">
                    <div class="total-title">Total</div>
                    <div class="total-value final-value" id="basket-total">
                        {% set somme = 0 %}
                        
                        {% for contenu_panier in contenu_paniers %}
                            {% set somme = somme + contenu_panier.produit.prix * contenu_panier.quantite  %}
                        {% endfor %}
                        
                        {{somme}} EUR
                    </div>
                </div>

                <div class="summary-checkout">
                    {{ include('contenu_panier/_buy_form.html.twig', {'id': contenu_paniers[0].panier.id}) }}
                </div>
            </div>
        </aside>
    {% else %}
        <br/>
        <p class="text text-center">Votre panier est vide !</p>
    {% endif %}
{% endblock %}
